<launch>
<arg name="ip" default="169.254.177.232" />

<!-- Launch the UR Driver -->
<include file="$(find ur_robot_driver)/launch/ur5e_bringup.launch">
  <!-- all vars that included.launch requires must be set -->
  <arg name="kinematics_config" value="/root/ros_ws/src/trial_control/resources/cindys_ur5e_calibration.yaml" />
  <arg name="robot_ip" value="$(arg ip)" />
</include>

<!-- Add the transform from the wrist to center of tactile sensors -->
<node pkg="tf2_ros" type="static_transform_publisher" name="ee_broadcaster" args="0 0 .1  0 0 0 1 tool0 ee_gripper" />
<!-- <node pkg="trial_control" type="fixed_tf_broadcaster.py"
          name="broadcaster_fixed" output="screen"/> -->

<!-- Launch moveit -->
<include file="$(find ur5e_moveit_config)/launch/moveit_planning_execution.launch"></include>

<!-- Launch Rviz -->
<include file="$(find ur5e_moveit_config)/launch/moveit_rviz.launch"></include>
</launch>