<launch>
<arg name="node_start_delay" default="1.0" />  

<!-- Launch the gripper code -->
<include file="$(find contactile_gripper)/launch/gripper_bringup.launch">
  <!-- all vars that included.launch requires must be set -->
</include>

<node pkg="trial_control" name="get_pic" type="get_picture.py" output="screen"/>
<node pkg="trial_control" name="record" type="record.py" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
<node pkg="trial_control" name="cable_follow" type="cable_follow_data_collection.py" launch-prefix="xterm -e" output="screen"/>
</launch>